header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 10px 20px;
}

.image {
    height: 55px;
}

p {
    margin: 0px;
    text-align: center;
}



